root = true

# C# files
[*.cs]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# dotnet code style
dotnet_sort_system_directives_first = true
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion

# Nullable context: enable by default
dotnet_style_null_propagation = true:suggestion

# File headers
file_header_template = "// Copyright (c) Nedev. Licensed under the Apache License, Version 2.0.\n"
